<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>确定</key>
	<dict>
		<key>zh</key>
		<string>确定</string>
		<key>en</key>
		<string>Done</string>
	</dict>
	<key>智能导览</key>
	<dict>
		<key>zh</key>
		<string>智能导览</string>
		<key>en</key>
		<string>ZhiNengDaolan</string>
	</dict>
	<key>作品简介</key>
	<dict>
		<key>zh</key>
		<string>作品简介</string>
		<key>en</key>
		<string>ZuopinJianjie</string>
	</dict>
	<key>1933当代艺术空间</key>
	<dict>
		<key>zh</key>
		<string>1933当代艺术空间</string>
		<key>en</key>
		<string>1933 Contemporary</string>
	</dict>
	<key>作品库</key>
	<dict>
		<key>zh</key>
		<string>作品库</string>
		<key>en</key>
		<string>ZuoPinKu</string>
	</dict>
	<key>部分展示，现场观看体验更佳</key>
	<dict>
		<key>zh</key>
		<string>部分展示，现场观看体验更佳</string>
		<key>en</key>
		<string>Just a little</string>
	</dict>
	<key>打开蓝牙，作品相关信息会自动推送到手机屏幕\n也可手动选择作品查看。</key>
	<dict>
		<key>zh</key>
		<string>打开蓝牙，作品相关信息会自动推送到手机屏幕\n也可手动选择作品查看。</string>
		<key>en</key>
		<string>Just a little</string>
	</dict>
	<key>请输入作品编号</key>
	<dict>
		<key>zh</key>
		<string>请选择作品</string>
		<key>en</key>
		<string>Just a little</string>
	</dict>
</dict>
</plist>
