<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>确定</key>
	<dict>
		<key>zh</key>
		<string>确定</string>
		<key>en</key>
		<string>Done</string>
	</dict>
	<key>智能导航</key>
	<dict>
		<key>zh</key>
		<string>智能导航</string>
		<key>en</key>
		<string>Smart Tour</string>
	</dict>
	<key>作品简介</key>
	<dict>
		<key>zh</key>
		<string>作品简介</string>
		<key>en</key>
		<string>Exhibits</string>
	</dict>
	<key>1933当代艺术空间</key>
	<dict>
		<key>zh</key>
		<string>1933当代艺术空间</string>
		<key>en</key>
		<string>1933 Contemporary</string>
	</dict>
	<key>作品库</key>
	<dict>
		<key>zh</key>
		<string>作品库</string>
		<key>en</key>
		<string>Art Exhibits</string>
	</dict>
	<key>手工导航</key>
	<dict>
		<key>zh</key>
		<string>手工导航</string>
		<key>en</key>
		<string>Art Exhibits</string>
	</dict>
	<key>部分展示，现场观看体验更佳</key>
	<dict>
		<key>zh</key>
		<string>部分展示，现场观看体验更佳</string>
		<key>en</key>
		<string>Part of the exhibits. Coming and experience more...</string>
	</dict>
	<key>打开蓝牙，作品相关信息会自动推送到手机屏幕也可手动选择作品查看。</key>
	<dict>
		<key>zh</key>
		<string>打开蓝牙，作品相关信息会自动推送到手机屏幕,也可手动选择作品查看。</string>
		<key>en</key>
		<string>The ONLY thing to do is, turn on Bluetooth, and the guide will come to you automatically.</string>
	</dict>
	<key>请输入作品编号</key>
	<dict>
		<key>zh</key>
		<string>请选择作品</string>
		<key>en</key>
		<string>Exhibits:</string>
	</dict>
	<key>展示</key>
	<dict>
		<key>zh</key>
		<string>展示</string>
		<key>en</key>
		<string>Show</string>
	</dict>
	<key>用户登录</key>
	<dict>
		<key>zh</key>
		<string>用户登录</string>
		<key>en</key>
		<string>Login</string>
	</dict>
	<key>登录</key>
	<dict>
		<key>zh</key>
		<string>登录</string>
		<key>en</key>
		<string>Login</string>
	</dict>
	<key>注册</key>
	<dict>
		<key>zh</key>
		<string>注册</string>
		<key>en</key>
		<string>Register</string>
	</dict>
	<key>用户名</key>
	<dict>
		<key>zh</key>
		<string>用户名</string>
		<key>en</key>
		<string>Username</string>
	</dict>
	<key>密码</key>
	<dict>
		<key>zh</key>
		<string>密码</string>
		<key>en</key>
		<string>Password</string>
	</dict>
	<key>请输入所有信息</key>
	<dict>
		<key>zh</key>
		<string>请输入所有信息</string>
		<key>en</key>
		<string>Please enter all the information.</string>
	</dict>
	<key>注册成功</key>
	<dict>
		<key>zh</key>
		<string>注册成功</string>
		<key>en</key>
		<string>Registered successfully</string>
	</dict>
	<key>欢迎你回来</key>
	<dict>
		<key>zh</key>
		<string>欢迎你回来</string>
		<key>en</key>
		<string>Welcome</string>
	</dict>
	<key>在场馆内，可点击进入场馆，自动导览 不在场馆内，可点击作品介绍，精华抢先看哦~</key>
	<dict>
		<key>zh</key>
		<string>在场馆内，可点击进入场馆，自动导览; 不在场馆内，可点击作品介绍，精华抢先看哦~</string>
		<key>en</key>
		<string>Tour with an intelligent guiding on the spot or watch the art exhibits</string>
	</dict>
	<key>我的</key>
	<dict>
		<key>zh</key>
		<string>我的</string>
		<key>en</key>
		<string>My Place</string>
	</dict>
	<key>取消</key>
	<dict>
		<key>zh</key>
		<string>取消</string>
		<key>en</key>
		<string>Cancel</string>
	</dict>
	<key>退出</key>
	<dict>
		<key>zh</key>
		<string>退出</string>
		<key>en</key>
		<string>Logout</string>
	</dict>
	<key>确定要退出当前账号吗？</key>
	<dict>
		<key>zh</key>
		<string>确定要退出当前账号吗？</string>
		<key>en</key>
		<string>Are you sure to logout?</string>
	</dict>
	<key>联系我们</key>
	<dict>
		<key>zh</key>
		<string>联系我们</string>
		<key>en</key>
		<string>Contact us</string>
	</dict>
	<key>照相机</key>
	<dict>
		<key>zh</key>
		<string>照相机</string>
		<key>en</key>
		<string>Camera</string>
	</dict>
	<key>图片库</key>
	<dict>
		<key>zh</key>
		<string>图片库</string>
		<key>en</key>
		<string>Photo Library</string>
	</dict>
	<key>作者</key>
	<dict>
		<key>zh</key>
		<string>作者</string>
		<key>en</key>
		<string>Author</string>
	</dict>
	<key>策展人</key>
	<dict>
		<key>zh</key>
		<string>策展人</string>
		<key>en</key>
		<string>Curator</string>
	</dict>
	<key>喜欢这次的展出《石头、木头和天堂症候群》@1933当代艺术空间</key>
	<dict>
		<key>zh</key>
		<string>喜欢这次的展出《石头、木头和天堂症候群》@1933当代艺术空间</string>
		<key>en</key>
		<string>I really love &quot;Stone, Wood and Paradise Syndrome&quot; @1933 Comtemporary</string>
	</dict>
	<key>点击屏幕任意位置便能拍照</key>
	<dict>
		<key>zh</key>
		<string>点击屏幕任意位置便能拍照</string>
		<key>en</key>
		<string>Touch screen to make photos</string>
	</dict>
	<key>1933老场坊</key>
	<dict>
		<key>zh</key>
		<string>1933老场坊</string>
		<key>en</key>
		<string>1933 Old Millfun</string>
	</dict>
	<key>开启</key>
	<dict>
		<key>zh</key>
		<string>开启</string>
		<key>en</key>
		<string>Turn on Bluetooth</string>
	</dict>
	<key>找到标识</key>
	<dict>
		<key>zh</key>
		<string>找到标识</string>
		<key>en</key>
		<string>Find the Logo</string>
	</dict>
	<key>知道了</key>
	<dict>
		<key>zh</key>
		<string>知道了</string>
		<key>en</key>
		<string>Got it</string>
	</dict>
	<key>完成, enjoy :)</key>
	<dict>
		<key>zh</key>
		<string>完成, enjoy :)</string>
		<key>en</key>
		<string>Finish, enjoy :)</string>
	</dict>
	<key>还有更多精彩等着你： 1933老场坊，顶尖时尚创意生活的终极目的地</key>
	<dict>
		<key>zh</key>
		<string>还有更多精彩等着你： 1933老场坊，顶尖时尚创意生活的终极目的地</string>
		<key>en</key>
		<string>More fun at 1933 Old Millfun</string>
	</dict>
	<key>更多精彩作品展于： 1933当代艺术中心，《石头、木头和天堂症候群》</key>
	<dict>
		<key>zh</key>
		<string>更多精彩作品展于： 1933当代艺术中心，《石头、木头和天堂症候群》</string>
		<key>en</key>
		<string>More Fun at 1933 Contemporary, &quot; Stone, Wood and Paradise Syndrome&quot;</string>
	</dict>
	<key>地址：上海溧阳路611号1933老场房1-311单元</key>
	<dict>
		<key>zh</key>
		<string>地址：上海溧阳路611号1933老场坊1-311单元</string>
		<key>en</key>
		<string>Address:  Unit 1-311, 1933 Shanghai, 611 Liyang Road</string>
	</dict>
    <key>地址：上海溧阳路611号1933老场坊</key>
    <dict>
        <key>zh</key>
        <string>地址：上海溧阳路611号1933老场坊</string>
        <key>en</key>
        <string>Address: 1933 Shanghai, 611 Liyang Road</string>
    </dict>
	<key>电话：32582558</key>
	<dict>
		<key>zh</key>
		<string>电话：32582558</string>
		<key>en</key>
		<string>Tel: 32582558</string>
	</dict>
	<key>展期：2014.10.18 - 12.28</key>
	<dict>
		<key>zh</key>
		<string>展期：2014.10.18 - 12.28</string>
		<key>en</key>
		<string>Exhibition: 2014.10.18 - 12.28</string>
	</dict>
	<key>开放时间：周二至周日 10：30 - 18：30</key>
	<dict>
		<key>zh</key>
		<string>开放时间：周二至周日 10：30 - 18：30</string>
		<key>en</key>
		<string>Open on Tuesday to Sunday 10:30 – 18:30</string>
	</dict>
    <key>重拍</key>
    <dict>
        <key>zh</key>
        <string>重拍</string>
        <key>en</key>
        <string>Retake</string>
    </dict>
    <key>分享</key>
    <dict>
        <key>zh</key>
        <string>分享</string>
        <key>en</key>
        <string>Share</string>
    </dict>
    <key>拍摄照片</key>
    <dict>
        <key>zh</key>
        <string>拍摄照片</string>
        <key>en</key>
        <string>Take Photos</string>
    </dict>
   

</dict>
</plist>
