<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>sections</key>
        <array>
            <dict>
                <key>rows</key>
                <array>
                    <dict>
                        <key>key</key>
                        <string></string>
                        <key>label</key>
                        <string></string>
                        <key>class</key>
                        <string>UserAvatarCell</string>
                        <key>selector</key>
                        <string></string>
                    </dict>
                </array>
                <key>nib</key>
                <string>UserAvatarCell</string>
                <key>height</key>
                <string>190</string>
            </dict>
            <dict>
                <key>rows</key>
                <array>
                    <dict>
                        <key>key</key>
                        <string></string>
                        <key>label</key>
                        <string>My Favorited Arts</string>
                        <key>class</key>
                        <string></string>
                        <key>selector</key>
                        <string>toFavoritedArts</string>
                        <key>image</key>
                        <string>icon_mycoupons.png</string>
                    </dict>
                </array>
            </dict>
            <dict>
                <key>rows</key>
                <array>
                    <dict>
                        <key>key</key>
                        <string></string>
                        <key>label</key>
                        <string>Contact Us</string>
                        <key>class</key>
                        <string></string>
                        <key>selector</key>
                        <string>contactUs</string>
                        <key>image</key>
                        <string>icon_mycoupons.png</string>
                    </dict>
                </array>
            </dict>
            <dict>
                <key>rows</key>
                <array>
                    <dict>
                        <key>key</key>
                        <string></string>
                        <key>label</key>
                        <string>Logout</string>
                        <key>class</key>
                        <string>ButtonCell</string>
                        <key>selector</key>
                        <string>logout</string>
                    </dict>
                </array>
            </dict>
        </array>
    </dict>
</plist>
